@import "tailwindcss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #2f3349;
    color: white;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

.animate-typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    animation: typing 2s steps(30) forwards,
    blink 1s step-end infinite;
}